body {
    background: radial-gradient(200% 100% at bottom center, #f7f7b6, #e96f92, #75517d, #1b2947);
    background: radial-gradient(220% 105% at top center, #1b2947 10%, #75517d 40%, #e96f92 65%, #f7f7b6);
    background-position:no-repeat;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    line-height: 30px;
    background-position: center 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
}
h1 {
    text-align: center;
    color:aliceblue;
}
pre {
    color:aliceblue;
    font-size: 30px;

}